html {
    padding: 0;
    color: black;
    background: #EFEFEF;
}

body {
    font-size: 18px;
    margin: 0 auto;
    max-width: 1100px;
    background-color: transparent;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #777;
}

.brand .title {
    float: left;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 145%;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 2% 0;
    padding-left: 25px;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-transform: initial;
    text-decoration: none;
    color: #0081C2;
}

section.main {
    margin-top: 50px;
}

.toast-info
{
    background-color: #194D7B;
}


/***************************/
/* Boostrap overrides      */

.navbar .btn, .navbar .btn-group {
    margin-top: 10px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    text-transform: uppercase;
}

.loader .page-progress-bar {
    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-info {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: #0081C2;
        *background-color: #0081C2;
        background-color: #194D7B;
        *background-color: #194D7B;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #0081C2 \9;
        background-color: #194D7B \9;
    }

/* End Boostrap overrides  */
/***************************/